/* Color theme
https://colorhunt.co/palette/161a3031304db6bbc4f0ece5
 */

/* ####### */
/* General */
/* ####### */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #161A30;
  color: white;
  text-align: center;
}
p{
  font-size: 1.1rem;
}
.lightSection {
  background-color: #F0ECE5;
  color: #161A30;
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
}
.secondaryHeader{
  font-family: 'Work Sans', sans-serif;
  color: #B6BBC4;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 30px;
}
.lightSection .secondaryHeader{
  color: #444444;
}
.btn {
  padding: 10px 20px;
}
.highlight{
  color: #9AD0C2;
}
.sections{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  transition: 0.1s;
}
.icon:hover{
  color: #2D9596 !important; 
  transition: 0.1s;
}


/* ########### */
/* NAV section */
/* ########### */
.mainNavBar {
  background-color: #161a31;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav-link{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}


/* ############ */
/* Home section */
/* ############ */
#home{
  padding-top: 61px;
}
#mainHeader{
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 4rem;
}

/* CSS to xs breakpoint */
@media (max-width: 576px) {
  #home{
    height: 700px;
  }
  #mainHeader{
    font-size: 3rem;
  }
  .secondaryHeader{
    font-size: 2rem;
  }
  #mainImg{
    margin: 10px;
    width: 60%;
  }
}

/* CSS to sm breakpoint */
@media (min-width: 576px) {
  #home{
    height: 900px;
  }
  #mainImg{
    width: 70%;
    height: 100%;
    margin: 20px;
  }
  #mainHeader{
    font-size: 4rem;
  }
  .secondaryHeader{
    font-size: 2.5rem;
  }
}

/* CSS to md breakpoint */
@media (min-width: 768px) {
  #mainImg{
    width: 70%;
    height: 100%;
    margin: 30px;
  }
  #home{
    height: 700px;
  }
  #mainHeader{
    font-size: 3rem;
  }
  .secondaryHeader{
    font-size: 2rem;
  }
}

/* CSS to lg breakpoint */
@media (min-width: 992px) {
  #home{
    height: 700px;
  }
  #mainImg{
    margin: 30px;
    width: 50%;
  }
  #mainHeader{
    font-size: 4rem;
  }
  .secondaryHeader{
    font-size: 3rem;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 2px 15px 0px rgba(240, 236, 229, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 15px 15px 0px rgba(240, 236, 229, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 2px 15px 0px rgba(240, 236, 229, 0.6);
    transform: translatey(0px);
  }
}
#mainImg {
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 2px 0px rgba(240, 236, 229, 0.6);
  background-color: white;
}
#home .btn{
  margin-top: 40px;
  margin-right: 20px;
  font-weight: 500;
}

/* ############### */
/* AboutMe section */
/* ############### */

#aboutMe .icon{
  width: 2rem;
  height: 2rem;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  color: #31304D;
}


/* ################ */
/* Projects section */
/* ################ */

.card{
  background-color: #435585;
  padding: 10px;
  align-items: center;
  margin: 10px;
}
.cardImg{
  margin: 5px;
  height: 60px;
  object-fit: contain;
}
.card-subtitle{
  color: #B6BBC4;
}
.card-link .icon{
  color: #F0ECE5;
  font-weight: 600;
  width: 1.5rem;
  height: 1.5rem;
}


/* ################### */
/* Experiences section */
/* ################### */

#experiences{
  justify-content: center;
}
#experiences img{
  width: 80%;
  border-radius: 5px;
  margin: 30px;
}
#experiences .experienceContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#experiences hr { 
  width: 100%;
}
#experiences li{
  text-align: left;
}

/* ############### */
/* Contact section */
/* ############### */
#contact input, #contact textarea{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
#contact textarea{
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* #################################### */
/* CSS on lg breakpoint of each section */
/* #################################### */

/* CSS to lg breakpoint */
@media (min-width: 992px) {
  #aboutMe, #projects, #experiences, #contact{
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
  }
}

/* ###### */
/* Footer */
/* ###### */
footer p{
  font-size: small;
}